
<div class="app">
  <div class="header">
    <i class="pi pi-search"></i>
    <input type="text" placeholder="Search..." />
    <button pButton type="button" icon="pi pi-plus" label="Create a new note" class="add-note-button" (click)="addNote()"></button>
  </div>
  <div class="notes-container">
    <p-dataView [value]="pinnedNotes">
      <ng-template let-note pTemplate="listItem">
        <div class="note pinned p-shadow-2">
          <h2>{{note.title}}</h2>
          <input type="checkbox">
          <p>{{note.content}}</p>
          <p><small>Created at: {{note.createdAt | date}}</small></p>
          <div class="note-buttons">
            <button pButton [icon]="pinnedNotes.includes(note) ? 'pi pi-heart-fill' : 'pi pi-heart'" (click)="onPin(note)" class="p-button-rounded p-button-help"></button>
            <button pButton icon="pi pi-pencil" (click)="onEdit(note)" class="p-button-rounded p-button-help"></button>
            <button pButton icon="pi pi-trash" (click)="onDelete(note)" class="p-button-rounded p-button-help"></button>
          </div>
        </div>
      </ng-template>
    </p-dataView>
    <hr />
    <p-dataView [value]="notes">
      <ng-template let-note pTemplate="listItem">
        <div class="note p-shadow-2">
          <h2>{{note.title}}</h2>
          <input type="checkbox">
          <p>{{note.content}}</p>
          <p><small>Created at: {{note.createdAt | date}}</small></p>
          <div class="note-buttons">
            <button pButton [icon]="pinnedNotes.includes(note) ? 'pi pi-heart-fill' : 'pi pi-heart'" (click)="onPin(note)" class="p-button-rounded p-button-help"></button>
            <button pButton icon="pi pi-pencil" (click)="onEdit(note)" class="p-button-rounded p-button-help"></button>
            <button pButton icon="pi pi-trash" (click)="onDelete(note)" class="p-button-rounded p-button-help"></button>
          </div>
        </div>
      </ng-template>
    </p-dataView>

  
    <ng-template [ngIf]="isCreatingNote">
      <div class="note pinned p-shadow-2">
        <input [(ngModel)]="newNote.title" placeholder="Title">
        <textarea [(ngModel)]="newNote.content" placeholder="Content"></textarea>
        <button (click)="saveNote()">Save</button>
        <button (click)="cancelNote()">Cancel</button>
      </div>
    </ng-template>

    <ng-template [ngIf]="editingNote">
      <div class="note pinned p-shadow-2">
        <input [(ngModel)]="editingNote.title" placeholder="Title">
        <textarea [(ngModel)]="editingNote.content" placeholder="Content"></textarea>
        <button (click)="saveEditNote()">Save</button>
      </div>
    </ng-template>
    
  </div>